<template>
    <main>
        <div
            v-if="currentQuestion !== undefined && allQuestions[0] !== 1"
            id="question-screen-container"
        >
            <div id="question-answer-container">
                <h1 v-html="currentQuestion.question" id="question"></h1>
                <div v-for="(answer, index) in allAnswers" :key="index">
                    <div :id="'line' + index" class="line"></div>
                    <Button
                        :class="{
                            questionClicked: index === clicked,
                            questionCorrect: index === correct,
                            questionWrong: index === wrong,
                        }"
                        v-html="answer"
                        class="question-button"
                        @click="nextQuestion(answer, index)"
                    ></Button>
                </div>
            </div>
            <div class="score">
                <p>SCORE <span v-html="score"></span></p>
            </div>
        </div>
        <div v-else-if="allQuestions[0] === 1">
            <h1 class = title>
                There is not enough questions in this category at this
                difficulty level. Please go back to previous site.
            </h1>
        </div>
    </main>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import router from "../router";

export default {
    data() {
        return {
            currentQuestionIndex: 0,
            clicked: -1,
            correct: -1,
            wrong: -1,
        };
    },
    methods: {
        ...mapActions(["increaseScore", "addAnswer"]),
        nextQuestion(answer, index) {
            if (
                this.clicked === -1 &&
                this.correct === -1 &&
                this.wrong === -1
            ) {
                this.clicked = index;
                const isAnswerCorrect =
                    answer === this.currentQuestion.correct_answer;

                setTimeout(
                    function (scope) {
                        if (isAnswerCorrect) {
                            scope.clicked = -1;
                            scope.correct = index;
                            scope.addAnswer(true);
                            scope.increaseScore(10);
                        } else {
                            scope.clicked = -1;
                            scope.wrong = index;
                            scope.addAnswer(false);
                        }

                        setTimeout(
                            function (scope) {
                                scope.currentQuestionIndex++;
                                scope.wrong = -1;
                                scope.correct = -1;

                                if (
                                    scope.currentQuestionIndex ===
                                    scope.numberOfQuestions
                                ) {
                                    router.push("result");
                                }
                            },
                            1000,
                            scope
                        );
                    },
                    500,
                    this
                );
            }
        },
    },
    computed: {
        ...mapGetters({
            allQuestions: "getAllQuestions",
            score: "getScore",
        }),
        numberOfQuestions() {
            return this.allQuestions.length;
        },
        currentQuestion() {
            return this.allQuestions[this.currentQuestionIndex];
        },
        allAnswers() {
            return this.currentQuestion.incorrect_answers
                .concat(this.currentQuestion.correct_answer)
                .sort();
        },
    },
    mounted() {
        console.log(JSON.parse(JSON.stringify(this.allQuestions)));
    },
};
</script>

<style>
#question-screen-container {
    display: grid;
    height: 100%;
    justify-items: safe center;
    align-items: center;
}

#question-answer-container {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    min-height: 500px;
    max-height: 70vh;
    width: 80vw;
    max-width: 700px;
}

#question {
    grid-column: 1 / 3;
    background-color: var(--bg-light);
    display: flex;
    align-items: center;
    padding: 10px 50px;
    border-radius: 10px;
    font-size: 32px;
    font-weight: 700;
    min-height: 200px;
}

.question-button {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-size: 24px;
    font-weight: 500;
    background-color: var(--bg-light);
    color: var(--text);
    border: none;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.question-button:hover {
    border: 3px solid #eee;
}

.questionClicked {
    border: 3px solid #eee;
}

.questionWrong {
    border: 3px solid var(--red);
}

.questionCorrect {
    border: 3px solid var(--green);
}

.line {
    top: 15px;
    height: 4px;
    width: 85%;
    margin: auto;
    position: relative;
}

#line0 {
    background-color: var(--blue);
}

#line1 {
    background-color: var(--yellow);
}

#line2 {
    background-color: var(--red);
}

#line3 {
    background-color: var(--green);
}

.title {
    font-size: 50px;
    justify-content: center;
    align-content: center;
}
</style>