<template>
  <div class="wrapper">
    <div>
      <h1 class="title">RESULT</h1>
    </div>
    <div class="items">
      <ListItem
        v-for="(item, i) in dynamicList"
        :item="item"
        :index="i"
        :isCorrect="answers[i]"
        v-bind:key="i"
        :open="item.open"
        @toggleOpen="toggleOpen"
      />
    </div>
    <div class="action-info-wrapper">
      <div  class="score score-placement-result">
        <p>SCORE <span v-html="score"></span></p>
      </div>
      <div class="result-button-group">
        <button class="result-nav-btn" type="button" id="back-button" 
        @click="resetAndsendBack()">
          BACK
        </button>
        <button class="result-nav-btn" type="button" id="replay-button"
        @click="replay()">
          REPLAY
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex"; 
import ListItem from "../components/ListItem.vue";
import router from "../router";

export default {
  components: {
    ListItem,
  },
  data() {
    return {
      dynamicList: [],
    };
  },
  computed: {
    ...mapGetters({
      allQuestions: "getAllQuestions",
      score: "getScore",
      answers: "getAnswers",
      category: "getCategory", 
    }),
  },
  methods: {
    ...mapActions(["resetScore", "resetAnswers", "setAllQuestions"]),
    toggleOpen: function (index) {
      this.dynamicList.forEach((item, i) => {
        if (index === i) {
          item.open = !item.open;
        } else {
          item.open = false;
        }
        return item;
      });
    },
    resetAndsendBack() {
      this.resetScore();
      this.resetAnswers();
      router.push('/');
    },
    replay() {
      this.resetScore();
      this.resetAnswers();
      this.setAllQuestions({
        nr: this.allQuestions.length, 
        cat: this.category,
        });
      router.push('questions');
    }
  },
  mounted() {
    this.dynamicList = this.allQuestions.map((element, index) => {
      return { ...element, index: index, open: false };
    });
  },
};
</script>
<style>
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");

.wrapper {
  display: flex;
  max-width: 850px;
  flex-direction: column;
  flex-flow: column wrap;
  justify-self: center;
}

body {
  background-color: #0f044c;
}

.action-info-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 40px, auto;
  max-width: 850px;
}

.score-placement-result {
  grid-column: 1;
  grid-row: 1;
  align-self:flex-start;
  justify-self:flex-start;
}

.result-button-group {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 2;
  align-self: center;
  justify-self: center;
  display: flex;
}

.item {
  display: block;
  width: 100%;
  max-width: 768px;
  margin: 10px auto;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  background-color: #141e61;
  color: var(--text);
}
.item .question {
  position: relative;
  font-size: 20px;
  transition: all 0.4s linear;
}

.item.open .question {
  margin-bottom: 15px;
}

.item .answer {
  font-size: 18px;
  opacity: 0;
  max-height: 0px;
  overflow-y: hidden;
  transition: all 0.4s ease-out;
}
.item.open .answer {
  opacity: 1;
  max-height: 1000px;
}

.content {
  list-style-type: none;
}

.result-nav-btn {
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border-radius: 0.6em;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;

  text-align: center;
  font-family: "Oswald", sans-serif;
  letter-spacing: 2px;
  font-weight: 700;

  background-position: 100%;
  background-size: 400%;
  -webkit-transition: background 500ms ease-in-out;
  transition: background 500ms ease-in-out;
}

#replay-button {
  border-color: var(--green);
  color: #60f7ce;
  background-image: -webkit-linear-gradient(
    45deg,
    var(--green) 50%,
    transparent 50%
  );
  background-image: linear-gradient(45deg, var(--green) 50%, transparent 50%);
}

#back-button {
  border-color: var(--red);
  color: #ffadaf;
  background-image: -webkit-linear-gradient(
    45deg,
    var(--red) 50%,
    transparent 50%
  );
  background-image: linear-gradient(45deg, var(--red) 50%, transparent 50%);
}

#back-button:hover,
#back-button:focus, #replay-button:hover,
#replay-button:focus  {
  color: #fff;
  outline: 0;
}

.result-nav-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  transition: all 0.8s ease;
}

.result-nav-btn:hover {
  background-position: 0;
}
</style>