<template>
  <main id="start-container">
      <img src="" alt="">
    <div class="title">
      <h1>TRIVIA GAME</h1>
    </div>
    <div class="select-container">
      <select
        v-if="categoriesLoaded"
        name="category-select"
        id="category-select"
        v-model="categoryChosen"
      >
        <option
          v-for="category in categories"
          :value="category.id"
          :key="category.id"
        >
          {{ category.name }}
        </option>
      </select>
    </div>
    <div class="button-container">
      <div v-for="(diff, index) in difficulties" :key="index">
        <input
          type="radio"
          class="button-group"
          name="difficulty"
          :value="diff"
          v-model="difficultyChosen"
          :id="diff"
        />
        <label :for="diff">{{
          diff.charAt(0).toUpperCase() + diff.slice(1)
        }}</label>
      </div>
    </div>
    <div class="button-container">
      <div v-for="(nbr, index) in numbers" :key="index">
        <input
          type="radio"
          class="button-group"
          :value="nbr"
          v-model="numberChosen"
          :id="nbr"
        />
        <label :for="nbr">{{
          nbr.charAt(0).toUpperCase() + nbr.slice(1)
        }}</label>
      </div>
    </div>
    <div class="start-button-container">
      <button type="button" id="start-button" @click="startGame()">
        START
      </button>
    </div>
  </main>
</template>

<script>
import { mapActions } from "vuex";
import router from "../router";

export default {
  data() {
    return {
      categories: [],
      categoriesLoaded: false,
      difficulties: ["easy", "medium", "hard", "any"],
      numbers: ["5", "10", "15", "20"],
      numberChosen: "5",
      difficultyChosen: "easy",
      categoryChosen: 27,
      picked: "",
    };
  },
  async created() {
    try {
      fetch("https://opentdb.com/api_category.php")
        .then((response) => response.json())
        .then((data) => {
          this.categories = data.trivia_categories.sort((a, b) =>
            a.name > b.name ? 1 : b.name > a.name ? -1 : 0
          );
          this.categoriesLoaded = true;
        });
    } catch (error) {
      console.log(error);
    }
  },
  methods: {
    ...mapActions(["setAllQuestions", "setDifficulty", "setCategory"]),
    startGame() {
      console.log(this.numberChosen);
      console.log(this.difficultyChosen);
      console.log(this.categoryChosen);
      this.setDifficulty(this.difficultyChosen);
      this.setCategory(this.categoryChosen);
      this.setAllQuestions({
        nr: this.numberChosen,
        cat: this.categoryChosen,
      });

      router.push("questions");
    },
  },
};
</script>

<style>
#start-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr);
  /*grid-template-rows: auto, auto, 130px, 130px, auto;*/
  justify-items: safe center;
  /* align-items: center; */
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-height: 120px;
}

.button-group {
  display: none;
}

label {
  display: inline-block;
  padding: 3px;
  border-radius: 3px;
  background-color: var(--bg-light);
  color: var(--text);
  width: 130px;

  /****/
  font-family: "Oswald", sans-serif;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1.5rem;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
  cursor: pointer;
  align-self: center;
  border-radius: 0.6em;
  margin: 5px;
  padding: 1.8em 1.2em;
  text-align: center;
}

.button-group:checked + label {
  background-color: var(--blue);
}

select {
  margin-bottom: 1em;
  padding: 0.5em;
  border: 0;
  border-bottom: 2px solid currentcolor;
  font-weight: bold;
  letter-spacing: 0.15em;
  border-radius: 0;
  outline: 0;
  border-bottom-color: var(--bg-light);
  border-radius: 8px;
}

.select-container {
  align-self: flex-end;
  justify-self: center;
}

.title {
  font-size: 115px;
  margin-top: 50px;
}

#start-button {
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border-radius: 0.6em;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;

  text-align: center;
  font-family: "Oswald", sans-serif;
  letter-spacing: 2px;
  font-weight: 700;

  background-position: 100%;
  background-size: 400%;
  -webkit-transition: background 500ms ease-in-out;
  transition: background 500ms ease-in-out;

  border-color: var(--green);
  color: #60f7ce;
  background-image: -webkit-linear-gradient(
    45deg,
    var(--green) 50%,
    transparent 50%
  );
  background-image: linear-gradient(45deg, var(--green) 50%, transparent 50%);
}

#start-button:hover,
#start-button:focus {
  color: #fff;
  outline: 0;
}

#start-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  transition: all 0.8s ease;
}

#start-button:hover {
  background-position: 0;
}

</style>
