<template>
    <footer id="footer">
        <p>Created by My och Henrik 2021</p>
    </footer>
</template>

<script>
export default {

}
</script>

<style>
    #footer{
        height: 40px;
        background-color: var(--bg);
        text-align: center;
        font-weight: 500;
    }
</style>