<template>
  <div :class="open ? 'item open' : 'item'" @click="$emit('toggleOpen', index)">
    <div class="question question-icon-container">
      <p v-html="item.question"></p>
      <img v-if="isCorrect" src="../assets/checked.png" alt="check" />
      <img v-else src="../assets/x-button.png" alt="x" />
    </div>
    <div class="answer">
      <div class="c_answer">
        Correct answer: <span v-html="item.correct_answer"></span>
      </div>
      <div class="content">
        <li v-for="(answer, i) in item.incorrect_answers" :key="i">
          <p>Incorrect answer: <span v-html="answer"></span></p>
        </li>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "listItem",
  props: ["item", "isCorrect", "index", "open"],
  data() {
    return {
      img: {
        isCorrect: false,
      },
    };
  },
};
</script>

<style scoped>
.img.correct {
  background-image: url("../assets/checked.png");
}

.img.incorrect {
  background-image: url("../assets/x-button.png");
}

.question-icon-container {
	display: flex;
	justify-content: space-between;
}

img {
  right: 0px;
  width: 30px;
  height: 30px;
}

.c_answer {
  color: var(--green);
}

.content {
  color: var(--red);
}
</style>