<template>
    <div>
        <input
            type="radio"
            class="button-group"
            v-bind:value="value"
            v-on:input="$emit('input', $event.target.value)"
            :name="name"
            :id="id"
        />
        <label :for="id">{{ id.charAt(0).toUpperCase() + id.slice(1) }}</label>
    </div>
</template>

<script>
export default {
    model: {
        prop: "checked",
        event: "change",
    },
    props: {
        name: String,
        id: String,
        value: String,
    },
    
};
</script>

<style>
</style>