<template>
  <div id="app">
    <router-view/>
    <Footer/>
  </div>
</template>

<script>
import Footer from "./components/Footer.vue"

export default {
  name: 'App',
  components: {
    Footer,
  }
}
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;500;700;800;900&display=swap');

:root {
  --bg: #0F044C;
  --bg-light: #141E61;
  --text: #EEEEEE;
  --red: #F94144;
  --green: #43AA8B;
  --blue: #277DA1;
  --yellow: #F9C74F;

}

#app {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
  background-color: #0F044C;
  color: var(--text);
}

.score {
  margin-top: 10px;
  font-size: 30px;
  color: #eeeeee;
  text-shadow: 4px 4px #141e61;
  font-family: 'Oswald', sans-serif;
}

.title {
  font-size: 75px;
  color: #eeeeee;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  text-shadow: 4px 4px #141e61;
  margin-top: 20px;

}
</style>
